.hero{
    width: 100%;
    min-height: 100vh;
    
    background: linear-gradient(
  to bottom,
    rgba(10, 20, 80, 0.75) 0%,    /* top — dark */
    rgba(10, 20, 80, 0.45) 40%,   /* middle — thoda light (image dikhegi) */
    rgba(10, 20, 80, 0.65) 100%   /* bottom — thoda dark wapas */
),url('../../assets/hero6.png');
     
    background-size: cover;
     background-position: center;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;

     
}
.hero-text{
    text-align: center;
    max-width: 800px;
  
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
     color: #ffffff;
  text-shadow:
    0 2px 4px rgba(0,0,0,0.4),   /* tight shadow — edges sharp */
    0 4px 24px rgba(0,0,0,0.3);  /* wide shadow — depth */
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
      color: #ffffff;
  text-shadow:
    0 2px 4px rgba(0,0,0,0.4),   /* tight shadow — edges sharp */
    0 4px 24px rgba(0,0,0,0.3);  /* wide shadow — depth */
  

    
}
