
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
   font-family: "Outfit", sans-serif;
  background: #F5F5F5;  
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 0 #8043d0, 0 8px 15px rgba(0,0,0,0.1);
  transition: all 0.1s ease;
}

.btn:active{
  transform: translateY(3px);
  box-shadow: 0 2px 0 #cfcfcf, 0 3px 8px rgba(0,0,0,0.1);
}


.btn img{
  width: 20px;
  margin-left: 10px;
}
